input {
    border-radius: 1rem;
    padding: 0.5rem;
    height: 20px;
    border: 0;
    background-color: #292929;
}

body {
    background-color: black;
    color: white;
}

textarea {
    height: 100px;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
    background-color: #292929;
}

::file-selector-button {
    display: none;
}

::-webkit-file-upload-button {
    display: none;
}

.add-work {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    width: fit-content;
    background-color: #292929;
    color: white;
    border: 0;
}

.PrimaryContainer img {
    filter: grayscale(1) invert(1) brightness(2.5) contrast(1)
}

.contacts {
    display: flex;
    gap: 0.6rem;
}

.contacts>input {
    flex-grow: 1;
}

input,
textarea {
    color: white;
}

@media screen and (max-width: 600px) {
    .dataContainer>div:nth-child(2) {
        flex-wrap: wrap;
    }
}

.PrimaryContainer img {
    height: 25px;
    width: 25px;
}

.PreviewContainer {
    background: linear-gradient(124deg, #5c360d 5%, #000 29%, #000 73%, #5c360d 94%);
    border-radius: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7)
}

footer>div>div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

footer img {
    align-self: center;
}

footer img {
    filter: grayscale(1) invert(1) brightness(2.5) contrast(1);
    height: 25px;
    width: 25px;

}

.AboutSelf {
    margin-top: 1.2rem;
    border-top: 4px solid white;
}